body {
    text-align: center;
    font-family: "Arial";
    color: black;    
}
#conteiner{
    text-align: center;
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid darkolivegreen;
    margin: 0 auto;
}
#cabecera{
    font-family: 'Courier New', Courier, monospace;
    font: bold;
    text-align: center;
    background: blue;
    color: white;
    font-size: 25px;


}
#conteiner h1{
    font-size: 35px;

}
#post {
    text-align: center;

}